Week1/c010/*
ai_challenge_s03_c010-full_annotation.xml
.venv/*
.vscode/*
Week1/framesOriginal/
Week1/framesResult/
Week1/framesResult_adaptive/
Week1/framesResult_adaptiveBGR/
Week1/videoFinal/
*.mp4
*.pkl
*.avi
__pycache__/
wandb/
AICity_data_S04_C016/
